# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
*.js.map
*.d.ts.map

# Serverless
.serverless/
.serverless_plugins/

# Coverage
coverage/

# Logs
*.log

# AWS
.aws-sam/

# TypeScript
*.tsbuildinfo

